@import url(./__cards/results__cards.css);
@import url(./__info/results__info.css);
@import url(./__link/results__link.css);
@import url(./__title/results__title.css);
@import url(./__arrow/results__arrow.css);
@import url(./__card/results__card.css);
@import url(./__date/results__date.css);
@import url(./__image/results__image.css);
@import url(./__news-agency/results__news-agency.css);
@import url(./__sub-title/results__sub-title.css);
@import url(./__text/results__text.css);
@import url(./__article/results__article.css);
@import url(./__else/results__else.css);

.results {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #F5F6F7;
}
