.commits__cards {
  display: flex;
  margin: 64px 104px 0;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .commits__cards {
    margin: 32px 40px 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .commits__cards {
    margin: 20px 28px 0;
  }
}
