.author__image {
  max-width: 464px;
  max-height: 464px;
  background-color: #FFFFFF;
  border-radius: 50%;
}


@media (min-width: 768px) and (max-width: 1439px) {
  .author__image {
    max-width: 232px;
    max-height: 232px;
  }
}


@media (min-width: 320px) and (max-width: 767px) {
  .author__image {
    max-width: 272px;
    max-height: 272px;
    margin: 32px auto 0;
  }
}
