.technologies__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 80px 0 0 104px;
  max-width: 344px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .technologies__title {
    font-size: 30px;
    line-height: 34px;
    margin: 40px 0 0 40px;
  }
}
