@import url(./__image/author__image.css);
@import url(./__description/author__description.css);
@import url(./__description/__sub-title/author__sub-title.css);
@import url(./__description/__title/author__title.css);


.author {
  display: flex;
  max-width: 1228px;
  margin: 80px auto;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .author {
    max-width: 850px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .author {
    max-width: 682px;
  }
}
