.footer__copyright {
  margin-left: 105px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer__copyright {
    margin: 24px 0 18px 40px;
  }
}
