.infographics__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 80px 0 0 104px;
  padding-top: 40px;
}


@media (min-width: 768px) and (max-width: 1439px) {
  .infographics__title {
    margin-left: 40px;
    padding-top: 40px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .infographics__title {
    font-size: 22px;
    margin-left: 16px;
    padding-top: 24px;
  }
}
