.header__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 30px 0 0 100px;
  color: #FFFFFF;
}

.header__title_dark {
  color: #1A1B22;
}

@media (min-width:768px) and (max-width: 1439px) {
  .header__title {
    margin: 22px 0 0 40px;
  }
}
