.header__link {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__link_active-dark {
  border-bottom: 3px solid #1A1B22;
  padding-bottom: 23px;
}

.header__link_active-white {
  border-bottom: 3px solid #FFFFFF;
  padding-bottom: 23px;
}

.header__link:first-child {
  margin-right: 34px;
}

.header__link_dark {
  color: #1A1B22;
}

.header__link_no-active {
  color: #B6BCBF;
}

.header__link_no-active-analitics {
  color: #B6BCBF;
}

.header__link_no-active-analitics:hover {
  color: #1A1B22;
}
