@import url(../loader/__circle/lodaer__circle.css);
@import url(../loader/__text/loader__text.css);

.loader {
  min-height: 282px;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
}

