@import url(../loader/__circle/lodaer__circle.css);
@import url(../loader/__text/loader__text.css);

.loader {
  min-height: 282px;
  background-color: #f5f6f7;
  flex-direction: column;
  display: none;
}

.loader_visible {
  display: flex;
}
