.footer__text {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-left: 43px;
  color: #1A1B22;
  text-decoration: none;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .footer__text {
    margin-left: 24px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__text {
    margin: 0;
    line-height: 48px;
  }
}
