.results__sub-title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin-top: 10px;
  margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .results__sub-title {
    font-size: 22px;
    line-height: 24px;
  }
}
