.ingographics__line {
  margin: 13px 0 0 0;
  height: 24px;
  background-color: #2F71E5;
  align-self: baseline;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

