.footer__icon {
  display: flex;
  margin-right: 105px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer__icon {
    margin-right: 42px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__icon {
    order: 2;
    margin: 0;
    margin: -75px 20px 0 27px;
  }
}
