.results__text {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin-top: 12px;
  margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .results__text {
    text-overflow: ellipsis;
    max-height: 88px;
    overflow: hidden;
  }
}
