.results__text {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin-top: 12px;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  visibility: visible;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .results__text {
  -webkit-line-clamp: 4;
  }
}
