.results__news-agency {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  justify-content: flex-end;
  margin-bottom: 15px;
}
