.results__else {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1A1B22;
  width: 288px;
  height: 64px;
  border-radius: 80px;
  background-color: #fff;
  border-style: none;
  margin: 64px auto 0;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .results__else {
    margin: 22px auto 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .results__else {
    margin: 16px auto 0;
  }
}

.results__else:hover {
  opacity: .9;
}
