@import url(./__card/technologies__card.css);
@import url(./__logo/technologies__logo.css);
@import url(./__title/technologies__title.css);

.technologies {
  display: flex;
  background-color:  #F5F6F7;
  min-height: 334px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .technologies {
    flex-direction: column;
  }
}
