@import url(./__link/header__link.css);
@import url(./__links/header__links.css);
@import url(./__title/header__title.css);


.header {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  z-index: 2;
  position: relative;
}

.header_about {
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #D1D2D6;
}


@media (min-width: 768px) and (max-width: 1439px) {
  .header {
    min-height: 64px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
  max-height: 56px;
  margin-bottom: -20px;
  }
}
