.author__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  }

 @media (min-width: 768px) and (max-width: 1439px) {
   .author__title {
     font-size: 30px;
     line-height: 40px;
     margin: 40px 0 20px 0;
   }
 }
