.results__card {
  max-width: 400px;
  max-height: 576px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .results__card {
    overflow: hidden;
  }
}
